<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- Begin Spring-specific configuration -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
    <!-- END Spring configuration -->
    <context-param>
        <param-name>webmaster-email</param-name>
        <param-value>sanandamirtharaj@my.wctc.edu</param-value>
    </context-param>
    <servlet>
        <servlet-name>AuthorController</servlet-name>
        <servlet-class>edu.wctc.saa.bookwebappv33.controller.AuthorController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>BookController</servlet-name>
        <servlet-class>edu.wctc.saa.bookwebappv33.controller.BookController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthorController</servlet-name>
        <url-pattern>/AuthorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookController</servlet-name>
        <url-pattern>/BookController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
